@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
	--primary-color: #007af3;
}
body {
    background: #f2f2f2;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

/* Balises Globales */

a {
    text-decoration: none;
}

/* Class */

.navbar {
    background: white;
    padding: 1em;
}
.navbar .logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}
.navbar .logo span {
    color: var(--primary-color);
}
.navbar nav {
    display: none;
}
.navbar .container {
    display: flex;
    place-content: space-between;
}
.navbar .mobile-menu {
    cursor: pointer;
}

/* HERO */
.hero {
    display: block;
    width: 100%;
    height: 500px;
}

.hero .container {
    display: inline-flex;
    height: 100%;
    width: 100%;
}

.hero .container .left-col {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.hero .container .left-col .center {
    width: 50%;
    margin-top: 100px;
    text-align: center;
}

.hero .container .left-col .center h1 {
    width: 100%;
}

.hero .container .left-col .center .hero-cta a {
    background-color: var(--primary-color);
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
    color: #f2f2f2;
}

.hero .container .right-col {
    display: block;
    width: 50%;
    height: 100%;
    text-align: left;
}

.hero .container .right-col .image {
    display: block;
    width: 100%;
    height: 100%;
}

.hero .container .right-col .image img {
    display: block;
    width: 600px;
}

/* Banner */

.banner {
    width: 100%;
    height: 500px;
    background-color: var(--primary-color);
    display: inline-flex;
}

.banner .gauche {
    width: 50%;
    height: 100%;
}

.banner .droite {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: right;
}

.banner .droite img {
    height: 100%;
}